body{
    background-color:#ffffff;
    
} 
    


 
.containercontatos{
    height: 450px;
    width: 700px;
    border: 2px;
    
    position: relative;
    top: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.controle-atendimento{
    height: 860px;
    width: 1200px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    


}



.canaisdeatendimento{
    height:450px;
    width: 550px;

    background-color:aqua;

}




.enviodeemail{
    border-left: darkgrey 1px solid;
    height:450px;
    width: 550px;
    padding: 10px;

}
.btn{
    margin: auto;
    
    display: flex;
}


.nav2{
    display: none;
}






.menu2{
    displ
}





























































.navbar{

    background-color: black ;
    
}

.navlogo{
    height: 50px;
    
}

.cursive{

    height: 40px;
}


.container-fluid{
    background-color: black;

}

.separadormenu{
    background-color: darkgray;
    height: 100%;
    display: flex;
    padding: 1px;
    position: relative;
    margin: 0;
    top: 4px;
}

.nav-link{
    background-color: #8d6700;
    height: 100%;
    display: flex;
    padding: 10px;
    position: relative;
    top: 4px;
    font-family: "Merriweather", serif;
}

.whatsappimg {
    cursor: pointer;
    display: scroll;
    position: fixed;
    height: 70px;
    right: 10px;
    bottom: 20px;
    z-index: 1;
}




