body{
    background-color:#ffffff;
    
} 
    

.faleconosco{
    padding: 30px;

}

 
.containercontatos{
    
    border: 2px;
    position: relative;
    top: -10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}





.controle-atendimento{
   
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}


.containerwpp-yellow{
    height: 60px;
    width: 280px;
    background-color: #8d6700;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: center;
    color: white;
    border-radius: 5px 0px 0px 5px;
    
}
.canaisdeatendimento{
   font-size: 16px; 
    padding: 30px;

}

.numero{
    text-decoration: none;
    color: #ffffff;
}



.enviodeemail{
    width: 100%;
    height: 100%;
    border-top: darkgrey 1px solid;
    border-radius: -2px;
    padding: 6px;

}
.btn{
    margin: auto;
    background-color: #8d6700;
    display: flex;
    border: none;
    
}
:hover.btn{
    background-color: #c79407;
}

.nav2{
    display: none;
}

































































.menu2{
    display: none;
}


.navbar{

    background-color: black ;
    
}

.navlogo{
    height: 50px;
    
}

.cursive{

    height: 40px;
}


.container-fluid{
    background-color: black;

}

.separadormenu{
    background-color: darkgray;
    height: 100%;
    display: flex;
    padding: 1px;
    position: relative;
    margin: 0;
    top: 4px;
}

.nav-link{
    background-color: #8d6700;
    height: 100%;
    display: flex;
    padding: 10px;
    position: relative;
    top: 4px;
    font-family: "Merriweather", serif;
}

.whatsappimg {
    cursor: pointer;
    position: relative;
    position: relative;
    left: -5px;
    height: 70px;
    
    
    
}



